section {
  background-color: lemonchiffon;
}

.blue-header {
  color: darkslateblue;
  background-color: white;
}

#email {
  background-color: rgb(172, 117, 34);
}

#github {
  background-color: lightslategray;
}

#portfolio {
  background-color: darkorange;
}
